{% extends 'base.html.twig' %}

{% block body %}

    <article>
        <h2>{{ article.title }}</h2>
        <div class="metadata">Ecrit le {{ article.createdAt | date('d/m/Y') }}. Dans la catégorie {{ article.category.title }}.</div>
        <div class="content">
            <img src="{{ article.image }}" alt="Image">
            {{ article.content | raw }}
        </div>
        <a href="{{ path('blog_edit', { 'id':article.id }) }}" class="btn btn-primary">Modifier</a>
    </article>

    <section id="commentaires">
    <h1>Commentaires ({{ article.comments | length }})</h1>
        {% for comment in article.comments %}
            <div class="comment">
                <div class="row">
                    <div class="col-3">
                        {{ comment.author }} <br> (<small>{{ comment.createdAt | date('d/m/Y à H:i') }}</small>)
                    </div>
                    <div class="col">
                        {{ comment.content | raw }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>

    {% if app.user %}
        {{ form_start(formComment) }}
        {{ form_row(formComment.author, {
            'label':"Nom d'utilisateur",
            'attr':{
                'placeholder':"Nom d'utilisateur"
            }
        })}}
        {{ form_row(formComment.content, {
            'label':"Commentaire",
            'attr':{
                'placeholder':"Commentaire..."
            }
        })}}
        <button type="submit" class="btn btn-success">
            Commenter
        </button>
        {{ form_end(formComment) }}
    {% else %}
        <p>Connecte toi.</p>
    {% endif %}

{% endblock %}
